<input type="checkbox" id="modal-event-calendar" class="modal-toggle" />
<div class="modal">
  <div
    class="modal-box relative w-96 h-72 scroll-ander invicible-scroll-ander leading-none"
  >
    <label
      for="modal-event-calendar"
      class="btn btn-sm btn-circle absolute right-2 top-2"
      >✕</label
    >
    <h3 class="text-center font-bold border-b">Crear Evento</h3>

    <input
      class="focus:outline-dashed w-full py-2 bg-gray-300 ng-pristine ng-invalid ng-touched"
      type="text"
    />
    <div class="w-full flex gap-2 p-1 justify-start flex-wrap">

      <div class="flex border bg-white font-light action relative p-2 flex-col ">
        <p>Luis Enriquez</p>
        <p>Estadistica Descriptiva</p>
        <p>Estadistica Descriptiva</p>
        <div class="overlay bg-white">
          <div
            class="flex items-center border justify-center w-full h-full"
          >
            <button class="">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="40"
                height="40"
                fill="currentColor"
                class="bi bi-file-earmark-plus-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM8.5 7v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 1 0z"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>

      <div class="flex border bg-white font-light action relative p-2 flex-col ">
        <p>Luis Enriquez</p>
        <p>Estadistica Descriptiva</p>
        <p>1ro VB-SOFTWARE</p>
        <div class="overlay bg-white">
          <div
            class="flex items-center border justify-center  w-full h-full"
          >
            <button class="">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="40"
                height="40"
                fill="currentColor"
                class="bi bi-file-earmark-plus-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM8.5 7v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 1 0z"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
