<table class="flex w-ful text-xs table-auto flex-col flex-wrap" >
    <thead class="flex bg-gray-300 text-start" >
        <th class="w-1/12 text-start" >
           ID
        </th>
        <th class="w-4/12 text-start" >
           NAME
        </th>
        <th class="w-4/12 text-start" >
           LOCATION
        </th>
        <th class="w-3/12" >
            Actions
         </th>
    </thead>
    <tbody>
        <tr class="flex  border-b-2" >
            <td class="w-1/12">
12asd
            </td>
            <td class="w-4/12" >
sos
            </td>
            <td class="w-4/12" >
                13123123-12312312312
            </td>
            <td class="w-3/12 flex flex-wrap justify-center" >
                <button class="btn btn-xs" >
                    Guardar
                </button>
                |
                <button class="btn  btn-xs" >
                 Eliminar
                </button>
            </td>
        </tr>
    </tbody>

</table>