<label for="modal-teacher" class="btn btn-sm btn-primary modal-button">Nuevo</label>

<!-- Put this part before </body> tag -->
<input type="checkbox" id="modal-teacher" class="modal-toggle" />
<div class="modal">
  <div class="modal-box w-96 flex-col gap-3 flex items-center">
    <h3 class="text-center w-full font-bold border-b-2 text-xl">Docente</h3>
    <div class="flex w-full flex-col">
      <label for="">Dni:</label>
      <input disabled class="focus:border-red-500 focus:outline-none focus:border-2 py-2 bg-gray-300" type="text"
        placeholder="Type here" />
    </div>
  </div>
  <div class="modal-box w-96 flex-col gap-3 flex items-center">
    <h3 class="text-center w-full font-bold border-b-2 text-xl">Docente</h3>
    <div class="flex w-full flex-col">
      <label for="">Nombre docente:</label>
      <input class="focus:border-red-500 focus:outline-none focus:border-2 py-2 bg-gray-300" type="text"
        placeholder="Type here" />
    </div>
  </div>
  <div class="modal-box w-96 flex-col gap-3 flex items-center">
    <h3 class="text-center w-full font-bold border-b-2 text-xl">Docente</h3>
    <div class="flex w-full flex-col">
      <label for="">Cambio Domicilio:</label>
      <input class="focus:border-red-500 focus:outline-none focus:border-2 py-2 bg-gray-300" type="text"
        placeholder="Type here" />
    </div>
  </div>
  <div class="modal-box w-96 flex-col gap-3 flex items-center">
    <h3 class="text-center w-full font-bold border-b-2 text-xl">Docente</h3>
    <div class="flex w-full flex-col">
      <label for="">Telefono:</label>
      <input class="focus:border-red-500 focus:outline-none focus:border-2 py-2 bg-gray-300" type="text"
        placeholder="Type here" />
    </div>
  </div>
  <div class="modal-box w-96 flex-col gap-3 flex items-center">
    <h3 class="text-center w-full font-bold border-b-2 text-xl">Docente</h3>
    <div class="flex w-full flex-col">
      <label for="">Email:</label>
      <input class="focus:border-red-500 focus:outline-none focus:border-2 py-2 bg-gray-300" type="text"
        placeholder="Type here" />
    </div>
  </div>
  <div class="flex w-full flex-col">
    <label for="">Cordenadas</label>
    <input class=" py-2 focus:border-2  focus:border-red-500 bg-gray-300 focus:outline-none" type="text"
      placeholder="Type here" />
  </div>
  <div class="modal-action m-0 ">
    <label class="cursor-pointer btn" for="modal-teacher">Aceptar</label>
    <label class="cursor-pointer btn" for="modal-teacher">Cancelar</label>
  </div>
</div>