<!-- The button to open modal -->
<label for="my-modal" class="btn btn-sm btn-primary modal-button">Nuevo</label>

<!-- Put this part before </body> tag -->
<input type="checkbox" id="my-modal" class="modal-toggle" />
<div class="modal">
  <div class="modal-box w-96 flex-col gap-3 flex items-center">
   <h3 class="text-center w-full font-bold border-b-2 text-xl" >Nueva ubicacion</h3>
   <div class="flex w-full flex-col">
    <label for="">Nombre ubicacion</label>
   <input [(ngModel)]="currentEntity.name" class="focus:border-red-500 focus:outline-none focus:border-2 py-2 bg-gray-300" type="text" placeholder="Type here" />
  </div>
  <div class="flex w-full flex-col">
    <label for="">Cordenadas</label>
   <input [(ngModel)]="currentEntity.coordinates" class=" py-2 focus:border-2  focus:border-red-500 bg-gray-300 focus:outline-none" type="text" placeholder="Type here" />
  </div>
  <div class="modal-action m-0 ">
   <label (click)="save()" class="cursor-pointer btn" for="my-modal">Aceptar</label>
   <label (click)="removeCurrentEntity()" class="cursor-pointer btn" for="my-modal">Cancelar</label>
  </div>
  </div>
</div>