<div class="flex justify-between text-[#283c4d] m-4">

  <label class="text-base"><span class="text-primary">Periodo Lectivo:</span>
    <select class="select w-auto max-w-xs select-sm bg-indigo-100">
      <option *ngFor="let schoolPeriod of schoolPeriodList" selected>{{schoolPeriod.startDate}} - {{schoolPeriod.endDate}}</option>
    </select>
  </label>

  <select class="select w-auto max-w-xs select-sm bg-indigo-100">
    <option disabled selected>Carrera</option>
    <option *ngFor="let career of careerList" >{{career.name}}</option>
  </select>
</div>