<div class="flex p-2 gap-2 justify-between h-fit flex-wrap" >
    <div class="gap-2 flex flex-wrap" >
    <select class="p-2 text-gray-600 outline-none border-none active:outline-none focus:outline-none" name="" id="">
        <option value="">AULA</option>
        <option value="">Aula2</option>
        <option value="">Aula2</option>
        <option value="">Aula2</option>
    </select>
    <select class="p-2 text-gray-600 outline-none border-none active:outline-none focus:outline-none" name="" id="">
        <option value="">DOCENTE</option>
        <option value="">Docente1</option>
        <option value="">Docente2</option>
        <option value="">Docente3</option>
    </select>
    <select class="p-2 text-gray-600 outline-none border-none active:outline-none focus:outline-none" name="" id="">
        <option value="">CURSO</option>
        <option value="">Curso1</option>
        <option value="">Curso2</option>
        <option value="">Curso3</option>
    </select>
    <select class="p-2 text-gray-600 outline-none border-none active:outline-none focus:outline-none" name="" id="">
        <option value="">LECTIVO</option>
        <option value="">Curso1</option>
        <option value="">Curso2</option>
        <option value="">Curso3</option>
    </select>
</div>
<div class="gap-2   flex jus flex-wrap" >
   <label class="btn btn-sm">Solicitudes</label>
   <label class="btn btn-sm text-white btn-warning">Imprimir</label>
   <label class="btn btn-sm btn-primary text-white ">Exportar</label>
</div>
</div>
