<table class="w-full">
    <thead class="bg-slate-700">
      <tr class="flex text-white">
        <th class="w-2/12 border-b border-r">Hora</th>
        <th class="w-2/12 border-b border-r">Lunes</th>
        <th class="w-2/12 border-b border-r">Martes</th>
        <th class="w-2/12 border-b border-r">Miercoles</th>
        <th class="w-2/12 border-b border-r">Jueves</th>
        <th class="w-2/12 border-b border-r">Viernes</th>
      </tr>
    </thead>
    <tbody>
      <tr class="flex bg-slate-700 text-white">
        <td class="w-2/12 border-b border-r text-center"></td>
        <td class="w-2/12 text-center border-b border-r">13</td>
        <td class="w-2/12 text-center border-b border-r">14</td>
        <td class="w-2/12 text-center border-b border-r">15</td>
        <td class="w-2/12 text-center border-b border-r">16</td>
        <td class="w-2/12 text-center border-b border-r">17</td>
      </tr>
      <tr class="flex text-gray-700 text-sm">
        <td class="w-2/12 border-b border-r text-center">07:00-08:00</td>
        <td
          class="w-2/12 text-center p-2 text-white bg-pink-500 border-b border-r"
        >
          Algebra y trigonometria
          <p class="text-xs">Ing. Patricio Pachacama</p>
        </td>
        <td
          class="w-2/12 text-center p-2 text-white bg-amber-400 border-b border-r"
        >
          Algebra y trigonometria
          <p class="text-xs">Ing. Patricio Pachacama</p>
        </td>
        <td
          class="w-2/12 text-center p-2 text-white bg-amber-400 border-b border-r"
        >
          Algebra y trigonometria
          <p class="text-xs">Ing. Patricio Pachacama</p>
        </td>
        <td class="w-2/12 text-center border-b border-r"></td>
        <td
          class="w-2/12 text-center p-2 text-white bg-pink-500 border-b border-r"
        >
          Algebra y trigonometria
          <p class="text-xs">Ing. Patricio Pachacama</p>
        </td>
      </tr>
      <tr class="flex text-gray-700 text-sm">
        <td class="w-2/12 border-b border-r text-center">08:00-09:00</td>
        <td
          class="w-2/12 text-center p-2 text-white bg-amber-400 border-b border-r"
        >
          Algebra y trigonometria
          <p class="text-xs">Ing. Patricio Pachacama</p>
        </td>
        <td class="w-2/12 text-center border-b border-r"></td>
        <td
          class="w-2/12 text-center p-2 text-white bg-pink-500 border-b border-r"
        >
          Algebra y trigonometria
          <p class="text-xs">Ing. Patricio Pachacama</p>
        </td>
        <td class="w-2/12 text-center border-b border-r"></td>
        <td
          class="w-2/12 text-center p-2 text-white bg-amber-400 border-b border-r"
        >
          Algebra y trigonometria
          <p class="text-xs">Ing. Patricio Pachacama</p>
        </td>
      </tr>
      <tr class="flex text-gray-700 text-sm">
        <td class="w-2/12 border-b border-r text-center">09:00-10:00</td>
        <td
          class="w-2/12 text-center p-2 text-white bg-green-500 border-b border-r"
        >
          Algebra y trigonometria
          <p class="text-xs">Ing. Patricio Pachacama</p>
        </td>
        <td class="w-2/12 text-center border-b border-r"></td>
        <td class="w-2/12 text-center border-b border-r"></td>
        <td
        class="w-2/12 text-center p-2 text-white bg-green-500 border-b border-r"
      >
        Algebra y trigonometria
        <p class="text-xs">Ing. Patricio Pachacama</p>
      </td>
        <td class="w-2/12 text-center border-b border-r"></td>
      </tr>
      <tr class="flex text-gray-700 text-sm">
        <td class="w-2/12 border-b border-r text-center">10:00-11:00</td>
        <td
        class="w-2/12 text-center p-2 text-white bg-green-500 border-b border-r"
      >
        Algebra y trigonometria
        <p class="text-xs">Ing. Patricio Pachacama</p>
      </td>
        <td class="w-2/12 text-center border-b border-r"></td>
        <td class="w-2/12 text-center border-b border-r"></td>
        <td class="w-2/12 text-center border-b border-r"></td>
        <td class="w-2/12 text-center border-b border-r"></td>
      </tr>
      <tr class="flex text-gray-700 text-sm">
        <td class="w-2/12 border-b border-r text-center">11:00-12:00</td>
        <td class="w-2/12 text-center border-b border-r"></td>
        <td
        class="w-2/12 text-center p-2 text-white bg-green-500 border-b border-r"
      >
        Algebra y trigonometria
        <p class="text-xs">Ing. Patricio Pachacama</p>
      </td>
        <td class="w-2/12 text-center border-b border-r"></td>
        <td class="w-2/12 text-center border-b border-r"></td>
        <td
        class="w-2/12 text-center p-2 text-white bg-green-500 border-b border-r"
      >
        Algebra y trigonometria
        <p class="text-xs">Ing. Patricio Pachacama</p>
      </td>
      </tr>
      <tr class="flex text-gray-700 text-sm">
        <td class="w-2/12 border-b border-r text-center">12:00-13:00</td>
        <td class="w-2/12 text-center border-b border-r"></td>
        <td class="w-2/12 text-center border-b border-r"></td>
        <td class="w-2/12 text-center border-b border-r"></td>
        <td class="w-2/12 text-center border-b border-r"></td>
        <td class="w-2/12 text-center border-b border-r"></td>
      </tr>
      <tr class="flex text-gray-700 text-sm">
        <td class="w-2/12 border-b border-r text-center">13:00-14:00</td>
        <td class="w-2/12 text-center border-b border-r"></td>
        <td class="w-2/12 text-center border-b border-r"></td>
        <td class="w-2/12 text-center border-b border-r"></td>
        <td class="w-2/12 text-center border-b border-r"></td>
        <td class="w-2/12 text-center border-b border-r"></td>
      </tr>
      <tr class="flex text-gray-700 text-sm">
        <td class="w-2/12 border-b border-r text-center">13:00-15:00</td>
        <td class="w-2/12 text-center border-b border-r"></td>
        <td class="w-2/12 text-center border-b border-r"></td>
        <td class="w-2/12 text-center border-b border-r"></td>
        <td class="w-2/12 text-center border-b border-r"></td>
        <td class="w-2/12 text-center border-b border-r"></td>
      </tr>
      <tr class="flex text-sm text-gray-700">
        <td class="w-2/12 border-b border-r text-center">15:00-16:00</td>
        <td class="w-2/12 text-center border-b border-r"></td>
        <td class="w-2/12 text-center border-b border-r"></td>
        <td class="w-2/12 text-center border-b border-r"></td>
        <td class="w-2/12 text-center border-b border-r"></td>
        <td class="w-2/12 text-center border-b border-r"></td>
      </tr>
      <tr class="flex text-gray-700 text-sm">
        <td class="w-2/12 border-b border-r text-center">16:00-17:00</td>
        <td class="w-2/12 text-center border-b border-r"></td>
        <td class="w-2/12 text-center border-b border-r"></td>
        <td class="w-2/12 text-center border-b border-r"></td>
        <td class="w-2/12 text-center border-b border-r"></td>
        <td class="w-2/12 text-center border-b border-r"></td>
      </tr>
      <tr class="flex text-gray-700 text-sm">
        <td class="w-2/12 border-b border-r text-center">17:00-18:00</td>
        <td class="w-2/12 text-center border-b border-r"></td>
        <td class="w-2/12 text-center border-b border-r"></td>
        <td class="w-2/12 text-center border-b border-r"></td>
        <td class="w-2/12 text-center border-b border-r"></td>
        <td class="w-2/12 text-center border-b border-r"></td>
      </tr>
      <tr class="flex text-gray-700 text-sm">
        <td class="w-2/12 border-b border-r text-center">19:00-20:00</td>
        <td class="w-2/12 text-center border-b border-r"></td>
        <td class="w-2/12 text-center border-b border-r"></td>
        <td class="w-2/12 text-center border-b border-r"></td>
        <td class="w-2/12 text-center border-b border-r"></td>
        <td class="w-2/12 text-center border-b border-r"></td>
      </tr>
    </tbody>
  </table>
